mixin advantages()
  section.advantages#advantages
    .container
      .title
        h2 3 главных преимущества
        p ВКС VINTEO перед зарубежными аналогами
      ul.advantages__list
        li.advantages__item
          .advantages__img
            +picture('content', 'advantages-1', 'png', 60, 53, 'Российская разработка')
          .advantages__title Российская разработка
          .advantages__description 100% отечественная компания. Продукты Vinteo — полностью российская разработка
        li.advantages__item
          .advantages__img.advantages__img--padding
            +picture('content', 'advantages-2', 'png', 82, 95, 'Совместимость')
          .advantages__title Совместимость
          .advantages__description Совместимость VINTEO с различным оборудованием — наш конек!
        li.advantages__item
          .advantages__img
            +picture('content', 'advantages-3', 'png', 60, 53, 'Высокое качество')
          .advantages__title Высокое качество
          .advantages__description Качество, не уступающее решениям мировых производителей
