mixin clients()
  section.clients
    .container
      .swiper
        .clients__title.title.title--small
          h2!="Клиенты"
          p!="Заказчики VINTEO — государственные и коммерческие структуры"
        ul.clients__list.swiper-wrapper
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-1", "png", 251, 382, "Клиент 1")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-2", "png", 251, 382, "Клиент 2")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-3", "png", 251, 382, "Клиент 3")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-4", "png", 251, 382, "Клиент 4")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-5", "png", 251, 382, "Клиент 5")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-6", "png", 251, 382, "Клиент 6")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-7", "png", 251, 382, "Клиент 7")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-8", "png", 251, 382, "Клиент 8")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-9", "png", 251, 382, "Клиент 9")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-10", "png", 251, 382, "Клиент 10")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-11", "png", 251, 382, "Клиент 11")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-12", "png", 251, 382, "Клиент 12")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-13", "png", 251, 382, "Клиент 13")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-14", "png", 251, 382, "Клиент 14")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-15", "png", 251, 382, "Клиент 15")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-16", "png", 251, 382, "Клиент 16")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-17", "png", 251, 382, "Клиент 17")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-18", "png", 251, 382, "Клиент 18")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-19", "png", 251, 382, "Клиент 19")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-20", "png", 251, 382, "Клиент 20")
          li.clients__item.swiper-slide
            .clients__image
              +picture("slides", "clients-21", "png", 251, 382, "Клиент 21")
    .swiper-button-next
      +icon('icon-next', 14, 24)
    .swiper-button-prev
      +icon('icon-prev', 14, 24)
