mixin guarantees()
  section.guarantees#guarantees
    .container
      .title
        h2 Гарантии
        p исправной работы на территории РФ
      .guarantees__inner
        .guarantees__list
          .guarantees__bg
            +picture('content', 'guarantees-bg', 'png', 767, 310, 'фон')
          .cascade
            p #[b VINTEO] работает там, где не работает никто больше
            ul
              li С «зоопарком» оборудования #[b Cisco], Avaya, #[b Poly], Huawei, Yealink, и т.д, в том числе со старыми прошивками.
              li #[b На плохих каналах связи,] в том числе на спутниковых, используя уникальный протокол коррекции ошибок.
              li Бесперебойно работает на #[b всей] территории России
        .guarantees__description
          p Разработки компании входят в #[b реестр Российского ПО] и оптимальны для задач импортозамещения
          span (приказы Министерства цифрового развития, связи и массовых коммуникаций Российской Федерации № 165 от 18.04.2016 г. и № 4 от 10.01.2020 г.)
