mixin modal-trial()
  .title.title--small
    h2 30 дней для тестирования Vinteo!
    p Заполните форму и мы бесплатно предоставим Вам для ознакомления лучшие решения для ВКС от Vinteo
  .form.form--consulting(data-validate)
    form(method="post")
      +custom-input({inputLabel: "ФИО*", inputError: "Заполните поле", inputName: "trial-user-name", inputMinLength: "2"})(data-validate-type="text", data-limitations="name").form__item.form__item--full
      +custom-input({inputLabel: "Организация*", inputError: "Заполните поле", inputName: "trial-user-company", inputMinLength: "2"})(data-validate-type="text", data-limitations="name").form__item.form__item--half-1
      +custom-input({inputLabel: "Должность*", inputError: "Заполните поле", inputName: "trial-user-position", inputMinLength: "2"})(data-validate-type="text", data-limitations="name").form__item.form__item--half-2
      +custom-input({inputType: "tel",inputLabel: "Телефон*", inputError: "Не корректный телефон", inputName: "trial-user-phone"})(data-validate-type="phone").form__item.form__item--half-1
      +custom-input({inputType: "email", inputLabel: "E-mail*", inputError: "Не корректный email", inputName: "trial-user-email"})(data-validate-type="email").form__item.form__item--half-2
      .form__footer
        .my-captcha
        +custom-toggle({inputLabel: "<a href='#' data-open-modal='personal-data' data-close-callback='trial'>Даю согласие на обработку моих персональных данных</a>", inputError: "Согласие является обязательным", inputName: "trial-user-agreement", inputChecked: true})(data-validate-type="checkbox", data-consent="checkbox").custom-toggle--agreed.form__checkbox
        +btn({text: 'Отправить', type: 'submit'}).btn--blue.form__submit
