//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-success
include ./modals/modal-success-faq
include ./modals/modal-success-consulting
include ./modals/modal-personal-data
include ./modals/modal-consulting
include ./modals/modal-confirm
include ./modals/modal-trial

//- Blocks

include ./blocks/intro
include ./blocks/steps
include ./blocks/advantages
include ./blocks/guarantees
include ./blocks/projects
include ./blocks/faq-form
include ./blocks/clients
include ./blocks/platform
include blocks/faq

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
